<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trabalhofinal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrabalhoFinal">
        <activity
            android:name=".listViewIslandia"
            android:exported="false" />
        <activity
            android:name=".islandiaCidade"
            android:exported="false" />
        <activity
            android:name=".listViewFilipinas"
            android:exported="false" />
        <activity
            android:name=".filipinasCidade"
            android:exported="false" />
        <activity
            android:name=".listViewChile"
            android:exported="false" />
        <activity
            android:name=".chileCidade"
            android:exported="false" />
        <activity
            android:name=".listViewBotsawana"
            android:exported="false" />
        <activity
            android:name=".botswanaCidade"
            android:exported="false" />
        <activity
            android:name=".TelaVideo"
            android:exported="false" />
        <activity
            android:name=".brasilCidade"
            android:exported="false" />
        <activity
            android:name=".listViewBrasil"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".FormLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TelaPerfil"
            android:exported="false" />
        <activity
            android:name=".FormCadastro"
            android:exported="false" />
        <activity
            android:name=".TelaEscolha"
            android:exported="false" />
        <activity
            android:name=".listView1"
            android:exported="false" />
    </application>

</manifest>